cachetools==4.1.0
certifi==2020.4.5.1
httplib2==0.17.3
idna==2.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyramid == 1.10.4
pytz==2020.1
requests==2.23.0
rsa==4.7
six==1.14.0
uritemplate==3.0.1
urllib3==1.25.9
